<!doctype html>
<head>
<meta charset="utf-8">
<link href='/fonts.css' rel='stylesheet' type='text/css'>
<link href='/code.css' rel='stylesheet' type='text/css'>
<link href='/style.css' rel='stylesheet' type='text/css'>
<link href='/custom_style.css' rel='stylesheet' type='text/css'>
<title>#{config.title}</title>
<style>
.post + .post {
  margin-top: 5em;
}
h1 a {
  text-decoration: none;
}
</style>
</head>
<body>
  <div id='main'>
  <div class='badge'><a href='/'>#{config.badge}</a></div>
  {#
    for post in posts {:
  <div class='post'>
    <h1 class='title'><a href="#{post.slug}">#{post.title}</a></h1>
    <div class='body'>{# print md post.body #}</div>
  </div>
    :}
  #}
  </div>
</body>
